@layout('layouts/app')

@section('content')
  @set('title', 'Welcome')
  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 id="main-title"> Welcome to Instagram Clone - by Zidane </h3>
      </div>
    </div>
  </div>
@endsection