.notification {
    width: 100%; 
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.is-danger {
    background-color: rgb(241, 52, 52);
    color: white;
    font-weight: bold;
    padding: 10px;
}