@layout('cms/layouts/app')

@section('content')
 
    <!-- Page-header start -->
    <div class="pcoded-inner-content">
        <div class="page-block red">
            This is view page
        </div>
    </div>
        
@endsection